<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890598745016-0oqhl8htshlqd2iibbe9ds49vkpanaet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890598745016-0oqhl8htshlqd2iibbe9ds49vkpanaet</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>890598745016-6gsp6avie3jvpqt7oc71qp8l7b7kb81n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzkOYjRizNnNoQ7q1O5EK7D8RNvMTTR4U</string>
	<key>GCM_SENDER_ID</key>
	<string>890598745016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.gov.mbi.travel</string>
	<key>PROJECT_ID</key>
	<string>ipoh-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ipoh-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890598745016:ios:9f6cdc99c37bbe7180e54d</string>
</dict>
</plist>